<div class="index-container">
  <h1>Índice</h1>
  
  <ol>
    <li>
      <a routerLink="/justification">Justificación del framework</a>
      <ul>
        <li>¿Para qué sirve?</li>
        <li>¿Qué aplicaciones tiene?</li>
        <li>¿Sobre qué lenguajes se apoya?</li>
        <li>¿Qué prerrequisitos necesita?</li>
      </ul>
    </li>

    <li>
      <a routerLink="/installation">Instalación</a>
      <ul>
        <li>¿Se precisa instalación?</li>
        <li>¿Qué pasos hay que realizar?</li>
        <li>¿Versiones necesarias?</li>
        <li>¿Rutas para tener en cuenta?</li>
        <li>¿Variables de entorno?</li>
        <li>¿Necesita base de datos?</li>
      </ul>
    </li>

    <li>
      <a routerLink="/first-steps">Primeros pasos</a>
      <ul>
        <li>Cómo realizar una primera aproximación ("Hola Mundo")</li>
      </ul>
    </li>

    <li>
      <a routerLink="/usage">Utilización del framework</a>
      <ul>
        <li>¿Cómo empezar a crear una aplicación base?</li>
        <li>¿Cómo visualizar los resultados de la ejecución?</li>
      </ul>
    </li>

    <li>
      <a routerLink="/framework-explanation">Explicación del funcionamiento del framework</a>
      <ul>
        <li>¿Actúa sobre páginas, ficheros, secciones...?</li>
        <li>¿Cómo se editan/modifican los ficheros que actúan en el framework?</li>
        <li>¿Cómo se referencian los ficheros creados desde otras aplicaciones?</li>
      </ul>
    </li>

    <li>
      <a routerLink="/conclusions">Conclusiones</a>
    </li>
  </ol>
</div>
